[class*=icono-] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #ddd;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    &:before, &:after {
        content: '';
        pointer-events: none
    }
    [class*=Circle] {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 2px
    }
    [class*=Square] {
        border-radius: 4px;
        width: 30px;
        height: 30px;
        margin: 2px
    }
}

[class*=icono-],[class*=icono-] * {
    box-sizing: border-box
}
