@import "../../sass/common.scss";

.recommend_movie_container {
    margin-top: 40px;
    position: relative;
    padding: 0 0 15px;
    overflow: hidden;

    ul.slider_box {
        list-style: none;
        padding:0;
        margin: 0;
        font-size: 0;
        height: 150px;

        li.movie {
            width: 98px;
            height: 140px;
            background-size: 100% auto;
            display: inline-block;
            font-size: 16px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.controller {
  text-align:center;
  font:14px;
  color:#fff;
  nav {
      width: 100px;
      margin:0 auto;
      overflow:hidden;
  }

  a {
    display:block;
    text-decoration:none;
    color:#fff;
    float:left;
    list-style:none;
    width:80px;
    height:80px;
    line-height:80px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin:0px 15px 0px 15px;
    background: #F27398;
  }
}

.sankaku{
    position: absolute;
    top: 36px;
    left: 150px;
    z-index: 999;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 30px solid rgba(239, 11, 11, 0.92);
}

.in-transition {

    transition: transform .3s linear;
    -webkit-transition: -webkit-transform .3s linear;
}